/* LAYOUT */

body {
    margin: 0; padding: 0;
    display: grid;
    grid-template-columns: 20vw 40vw 20vw 20vw;
    grid-template-rows: 20vh 60vh 20vh;
    background: #f8f8f8;
}

header {
    /* parent */
    grid-row: 1/2;
    grid-column: 2/4;
    /* child */
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    /* parent */
    grid-row: 2/3;
    grid-column: 2/3;
    /* child */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
    .cell {
        margin: 2px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .row-0 {
        grid-row: 1/2;
    }


    .row-1 {
            grid-row: 2/3;
        }
    
    .row-2 {
        grid-row: 3/4;
    }
    .row-3 {
        grid-row: 4/5;
    }
    
    .row-4 {
        grid-row: 5/6;
    }
    
    .row-5 {
        grid-row: 6/7;
    }
    .row-6 {
        grid-row: 7/8;
    }
    
    .row-7 {
        grid-row: 8/9;
    }
    
    .row-8 {
        grid-row: 9/10
    }

    .row-9 {
        grid-row: 10/11;
    }


    .col-0 {
        grid-column: 1/2;
    }

    .col-1 {
        grid-column: 2/3;
    }

    .col-2 {
        grid-column: 3/4;
    }
    .col-3 {
        grid-column: 4/5;
    }

    .col-4 {
        grid-column: 5/6;
    }

    .col-5 {
        grid-column: 6/7;
    }
    .col-6 {
        grid-column: 7/8;
    }

    .col-7 {
        grid-column: 8/9;
    }

    .col-8 {
        grid-column: 9/10
    }

    .col-9 {
        grid-column: 10/11
    }

.player {
    /* parent */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    z-index: 2;
}


#sidebar {
    /* parent */
    grid-row: 2/3;
    grid-column: 3/4;
    display: flex;

    /* child */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100px;
}

/* STYLE */

/* https://color.adobe.com/Vintage-Card-color-theme-9941769/ */
h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}
header {
    color: #8CBEB2;
}

body {
    background: #F2EBBF;
}

#board {
    background: #F3B562;
}

#sidebar {
    color: #F2EBBF;
    background: #F3B562;
}

#sidebar .highlight {
    color: #8CBEB2;
}
.cell {
    background: #F06060;
    color: #F2EBBF;
    font-weight: bold;
}

.player {
    border-radius: 15px;
    background: orange;
    margin: 2px;
}

.player.active {
    border: solid 2px blue;
}

button {
    padding:0; margin: 0;
    padding: 10px;
    background: #F2EBBF;
    border: 0;
    color: #F06060;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}